[push]
	default = current
[user]
	name = Duncan Finney
	email = duncan.finney@gmail.com
[alias]
	co = checkout
[core]
	editor = /usr/bin/vim
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
